.container {
  width: min(90%, 1170px);
  margin: 0 auto;
  padding-inline: 30px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #000;
  font-family: "Delius Unicase";
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  padding-block: 120px;
}

main > section:not(:last-of-type) {
  margin-bottom: 120px;
}

h2 {
  text-align: center;
  font-size: 2.25rem;
  letter-spacing: 0.1125rem;
  margin: 0;
  margin-bottom: 80px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.img {
  display: block;
  object-fit: cover;
  border-radius: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.item {
  position: relative;
}

.item:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: linear-gradient(
    0deg,
    #241f24 0%,
    rgba(91, 91, 91, 0.45) 34.11%,
    rgba(187, 186, 192, 0.26) 62.5%
  );
}

.c-span2 {
  grid-column: span 2;
}

.r-span2 {
  grid-row: span 2;
}
