:root {
  --color-light-gray: #4a4f56;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

body {
  width: 1440px;
  height: 3709px;
}
