* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --color-orange: #f90;
  --color-text: #2f281e;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: inherit;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
}

h3 {
  font-size: 1.375rem;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem;
  margin-bottom: 30px;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.navigation-list {
  padding: 17px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-link {
  color: var(--color-text);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.menu-link:hover {
  color: var(--color-orange);
}

.buttons {
  text-align: center;
  text-decoration: none;
  display: flex;
  gap: 20px;
}

.btn {
  font-family: inherit;
  font-size: 1.125rem;
  cursor: pointer;
  padding: 13px 25px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: var(--color-orange);
  color: white;
  font-weight: 600;
  justify-content: center;
  border: 1px solid transparent;
}

.btn-white {
  color: var(--color-text);
  border-color: #bcd0e5;
  background-color: white;
}

.hero {
  padding: 90px 0;
  display: flex;
  align-items: center;
  gap: 60px;
}

.hero-title {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 3.375rem;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 30px;
}

.tools {
  padding-bottom: 90px;
  background: white url(assets/bg.svg) center bottom no-repeat;
  background-size: 100% auto;
}

.tools-title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.tools-title {
  text-align: center;
  width: 539px;
}

.list-tools {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 60px;
}

.tools-item {
  flex: 1;
  flex-basis: 270px;
}

.tool-img {
  margin-bottom: 30px;
}

.tool-title {
  margin-bottom: 16px;
}

.tool-text {
  color: #544837;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
}

.tools-btn-container {
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}

.footer-lists-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.reg-block {
  width: 280px;
  margin-bottom: 25px;
}

form {
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  display: flex;
  width: 340px;
  height: 50px;
  padding: 0px 10px;
  align-items: center;
  margin-bottom: 25px;
}
